* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Font-: 'Roboto', sans-serif;
  /* Recordar 300, 400, 500 */
  --White-: #FFFFFF;
  --Persian-Red-: #D81D26;
  --Dark-:#1A1A1A;
  --Dark-Gray-: #2F2F2F;
  --Light-Gray-: #535353;
  --Cinnabar-: #F05537;
  --Persian-Red-: #CF3C3A;
}

.landingFirstImage{
  width: 350px;
}
.headerLandingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Font-);
  padding: 20px;
  margin: 70px 0px;
}
.bodyLandingPage{
  background-color: var(--AntiFlash-White-);
}

.navbar-total {
  background-color: var(--Light-Gray-);
} 

.logo-navbar {
  width: 20%;
  height: 20%;
}

#cuerpoFooter ul {
  list-style: none;
  padding-left: 0;
  color: var(--AntiFlash-White-);
  background-color: var(--Black-Olive-)
}
#cuerpoFooter ul a {
text-decoration: none;
color: var(--AntiFlash-White-);
}

.imgOrador{
  width: 200px;
  border-radius: 5px 0xp 0xp 0px;
}

.oradorContainer {
  display: flex;
  justify-content: end;
}

.modal-footer {
  display: flex !important;
  /* justify-content: space-between !important; */
}

.cardConfContainer {
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3);
}

.imgOradorContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.confInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* padding: 0px 200px ; */
}

.spanContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.infoConfContainer, .headerLandingPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

/* MediaQueries */

@media (max-width: 767px) {
  .cardConfContainer{
    padding: 20px 0px;
    flex-wrap: wrap;
  }
  .infoConfContainer {
    margin: 0px 20px;
  }
  .imgOradorContainer {
    align-items: center;
    width: 100%;
  }
  .confInfo {
    padding: 0px 20px;
    width: 100%;
  }
  .headerLandingPage {
    flex-wrap: wrap;
    margin: 0px 20px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .cardConfContainer {
    padding: 20px;
  }
  .confInfo {
    padding: 50px;
  }
  .infoConfContainer{
    padding: 20px;
  }
  .headerLandingPage {
    flex-direction: row;
    padding: 20px;
  }
} 

@media (min-width: 1025px) {
  .cardConfContainer {
    padding: 20px;
    justify-content: space-between;
  }
  .infoConfContainer {
    padding: 0px 200px;
  }
  .headerLandingPage {
    padding: 0px 200px;
    flex-direction: row;
  }
  .confInfo{
    padding: 0px 100px;
  } 
}
.fa-brands{
  color: var(--Cinnabar-);
}


/***************************/
/*         FOOTER          */
/***************************/
.footer {
  background-color: #09090a;
  margin-top: 50px !important;
}

#navBarPrincipal {
  background-color: #535353;
}


.redes-sociales {
  font-size: 2rem;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
  border-radius: 50%;
  padding: 1px 6px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
}

.redes-sociales:hover {
  animation: flash;
  animation-duration: 3s;
}

.bi-facebook {
  animation-delay: 0.7s;
}

.bi-github {
  animation-delay: 0.1s;
}

.bi-instagram {
  animation-delay: 0.3s;
}

.linksFooter {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none !important;
  font-size: 16px !important;
}

.linksFooter:hover {
  cursor: pointer;
}

.linksFooter:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.8s;
}

.linksFooter:hover:after {
  width: 100%;
  background: #fff;
}

/***************************/
/*        FIN FOOTER       */
/***************************/