* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Font-: 'Roboto', sans-serif;
  /* Recordar 300, 400, 500 */
  --Cinnabar-: #F05537;
  --Persian-Red-: #CF3C3A;
  --AntiFlash-White-: #EBEBEB;
  --Black-Olive-:#232E21;
  --Polynesian-Blue-:#1F487E
}
.landingFirstImage{
  width: 400px;
}
.headerLandingPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--Font-);
}
.bodyLandingPage{
  background-color: var(--AntiFlash-White-);
}

.navbar-total {
  background-color: var(--Black-Olive-);
} 

.logo-navbar {
  width: 20%;
  height: 20%;
}

#cuerpoFooter ul {
  list-style: none;
  padding-left: 0;
  color: var(--AntiFlash-White-);
  background-color: var(--Black-Olive-)
}
#cuerpoFooter ul a {
text-decoration: none;
color: var(--AntiFlash-White-);
}

.fa-brands{
  color: var(--Cinnabar-);
}


